@import 'variables.css';  /* Importation des variables */



.main{
    overflow: hidden; /* pour l'animation */
}

/* pour la bar de navigation et le menu */
.header{
    position: fixed;
    width: 100%;
    background-color: var(--container-color);
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}

.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo{
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__logo span{
    color: var(--first-color);
}


.nav__tooggle,
.nav__close{
    display: flex;
    font-size: 1.25rem;
    color: var(--title-color);
}