@import 'variables.css';  /* Importation des variables */


.about__conatiner{
    row-gap: 2.5rem;
}

.about__data{
    text-align: center;
}

.about__description{
    margin-bottom: 2rem;
}

.about__image{
    justify-self: center;
}

.about__blob{
    width: 320px;
}

.about__blob path{
    stroke: var(--first-color);
}