@import 'variables.css';  /* Importation des variables */


.skills{
    background-color: var(--container-color);
}

.skills__container{
    padding-bottom: 2rem;
    row-gap: 3.5rem;
}

.skills__data{
    text-align: center;
}

.skills__descriptions{
    margin-bottom: 2rem;
}

.skills__content,
.skills__group{
    display: grid;
}

.skills__content{
    grid-template-columns: repeat(2, max-content); /* diviser en deux la liste de competence*/
    column-gap: 4rem;
    justify-content: center;
    align-items: baseline;
}

.skills__group{
    row-gap: 1rem;
    list-style: decimal-leading-zero; /* fait la liste sous forme 01 02 etc ...*/
}

.skills__item{
    font-weight: var(--font-medium);
    color: var(--title-color);
}

.skills__item::marker{
    color:var(--first-color); /* Colorer les numeros de listes*/
}

.skills__icon {
    font-size: 2rem;
    color: var(--first-color);
}

.skills__group {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Deux colonnes */
    gap: 2rem; /* Espacement entre les éléments */
}
