@import 'variables.css';  /* Importation des variables */


.projects{
    background-color: var(--container-color);
}

.projects__container{
    row-gap: 2rem;
    justify-content: center;
    padding-block: 1rem;
}

.projects__card{
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
}

.projects__img{
    width: 100%;
    height: 100%;
}

.projects__modal{
    position: absolute;
    left: 0;
    bottom: -100;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,
                hsla(0, 0%, 0%, 0) 0%,
                hsla(var(--hue), 70%, 40%, .8) 120%);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur((4px)); /* for safari */
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: bottom .4s;
}

.projects__subtitle,
.projects__button{
    color: var(--title-color);
    font-size: var(--small-font-size);
}

.projects__subtitle{
    display: block;
    margin-bottom: .25rem;
}

.projects__title{
    font-size: var(--h2-font-size);
    margin-bottom: .75rem;
}

.projects__button{
    display: flex;
    align-items: center;
    column-gap: .5rem;
    font-weight: var(--font-medium);
}

.projects__button{
    font-size: 1.25rem;
}

/* ce css permet d'afficher les ecriture avec une coulour lorsque l'on met la souris sur un projet */
.projects__card:hover .projects__modal{
    bottom: 0;
}


.search__form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: center;
}

.search__input, .search__select {
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 7px;
    font-size: 16px;
}

.search__input {
    width: 250px;
}

.search__select {
    width: 180px;
}

/* Styles pour le bouton "Voir plus" */
.projects__description{
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

.projects__description:hover {
    background-color: #0056b3;
}


/* Styles pour le bouton "Voir plus de projets" */
.projects__more-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px; /* Espace au-dessus du bouton */
}

.nav__lang {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.nav__lang a {
    transition: transform 0.3s;
}

.nav__lang a:hover {
    transform: scale(1.1);
}



@media (max-width: 768px) {
    .search__form {
        flex-direction: column;
        align-items: center;
    }
    .search__input, .search__select {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .projects__more{
        flex-direction: column;
        align-items: center;
    }
    .projects__more {
        width: 100%;
    }
}

